<!DOCTYPE html>

<html lang="en" data-framework="angularjs">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Example seed by Haukur Kristinsson">
    <meta name="author" content="Haukur Kristinsson">
	<meta name="Pragma" content="no-cache;">
    <!-- <meta name="csrf-token" content="{{ csrf_token() }}"> --> 
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Example Index.</title>

    <!-- rev-hash -->
    <!-- build:styles -->
    <link href="./assets/css/vendor.css" rel="stylesheet">
    <link href="./assets/css/app.css" rel="stylesheet">
	<!-- endbuild -->
    <!-- end -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="./assets/js/libs/html5shiv.js"></script>
		<script src="./assets/js/libs/respond.min.js"></script>
    <![endif]-->

    <style>[ng-cloak] { display: none; }</style>

  </head>

  <body ng-cloak ng-app="seedapp">

    <div class="container">

        <div class="row">

          <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" class="input-block-level" placeholder="Email address">
            <input type="password" class="input-block-level" placeholder="Password">
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-large btn-primary" type="submit">Sign in</button>
          </form>

        </div>

      <div ng-controller="ExampleCtrl" class="row">From Example Controller: {{ testMessage }}</div>

    </div> <!-- /container -->

    <!-- rev-hash -->
    <!-- build:js -->
    <script src="assets/js/bower-vendor.js"></script>
    <script src="assets/js/custom-vendor.js"></script>
    <script src="assets/js/app.js"></script>
	<!-- endbuild -->
    <!-- end -->

  </body>
</html>